{% load staticfiles %}

<div id="editor" class="tag-editor">
  <input id="editor_input"
         type="text"
         class="tag-input"
         autocomplete="off"
         placeholder="{{ placeholder }}"/>
</div>
<span class="hidden">{{ input }}</span>

<script>

  window.onload = function() {
    document.getElementById("editor_input").onkeypress = handleInput;
    document.getElementById("editor_input").onkeydown = handleKeyPress;
    document.getElementById("{{ id }}").value.split("{{ split_character }}").forEach(function(tag) {
      if (tag.length > 0) buildTag(tag, document.getElementById("editor"));
    });
  }

  function handleInput(event) {
    
    if ((event.keyCode == 9 || event.keyCode == 13) && event.target.value.length > 0) { // Tab key
      
      var newTags = [];
      event.preventDefault();
      
      if (newTags.indexOf(event.target.value) < 0) {
        newTags.push(event.target.value);
        buildTag(event.target.value, document.getElementById("editor"));
        document.getElementById("{{ id }}").value += event.target.value + "{{ split_character }}";
        event.target.value = "";
      }
      setPlaceholder(event.target);
    }
  };
  
  function buildTag(value, parent) {
    var newSpan = document.createElement('span');
    var tagClose = document.createElement('i');
    tagClose.addEventListener("click", removeTag, false);
    
    newSpan.innerHTML = value;
    newSpan.dataset.name = value;
    newSpan.className += "tag-styles";
    parent.insertBefore(newSpan, document.getElementById("editor_input"));
    tagClose.className += "close-icon tag-close";
    newSpan.appendChild(tagClose);

  };
  
  function removeTag(event) {
    var tagInput = document.getElementById("{{ id }}");
    var tags = tagInput.value.split("{{ split_character }}");
    var clickedTag = event.target.parentNode;
    var index = tags.indexOf(clickedTag.dataset.name);
    
    if (index > -1) {
      tags.splice(index, 1);
      tagInput.value = tags.join("{{ split_character }}");
      disposeTag(clickedTag);
    }
    setPlaceholder(document.getElementById("editor_input"));
  };

  function setPlaceholder(element) {
    if (document.getElementById("{{ id }}").value.includes("{{ split_character }}")) {
      element.placeholder = "";
    } else {
      element.placeholder = "{{ placeholder }}";
    }
  };

  function disposeTag(element) {
    element.removeEventListener("click", removeTag);
    element.parentNode.removeChild(element);
  };

  function handleKeyPress(event) {

    if (event.keyCode == 8 && event.target.value.length == 0) { // Delete key
      var children = document.getElementById("editor").childNodes;
      var lastTag = children[children.length - 3];
      event.target.value = lastTag.dataset.name;
      var tagString = document.getElementById("{{ id }}").value;
      tagString.replace(lastTag.dataset.name, "");
      document.getElementById("{{ id }}").value = tagString.replace(lastTag.dataset.name + "{{ split_character }}", "");
      document.getElementById("editor").removeChild(lastTag);
      setPlaceholder(event.target);
      event.preventDefault();
    }

  };
  
</script>

